.main-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px;

}

.main-nav a {
    font-weight: bold;
    color: #2c3e50;
    font-size: 0.8rem;

    @media (min-width: 425px) {
        font-size: 1rem;
    }
}

.main-nav a.router-link-exact-active {
    color: #42b983;
}


.main-nav-item {
    text-decoration: none;
    margin-right: 0.5rem;

    &:hover {
        text-decoration: underline;
    }
}

.main-nav-logo {
    display: flex;
    align-items: center;


    &-image {
        max-width: 100%;
        width: 120px;

        @media (min-width: 375px) {
            width: 150px;

        }

        @media (min-width: 425px) {
            width: 200px;

        }
    }
}

.icon {
    padding-right: 0.3rem;
}